.frame {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background: #e5e5e5;
}

.frame .main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 2px;
    background: #f7f6b9;
}

.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;

    display: flex;
    flex-direction: column;

    background-color: white;
}
.main_frame .midd_frame {
    position: relative;
    width: 970px;
    height: 1259px;

    display: flex;
    flex-direction: column;

    margin-left: 30px;
    margin-right: 27px;
}

.main_frame .right_frame {
    position: relative;
    width: 108px;
    height: 1315px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
}

.main_frame .left_one {
    position: relative;
    width: 228px;
    height: 267px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    margin-left: 37px;
}

.main_frame .left_one .left_photo{
    position: relative;
    width: 156px;
    height: 142px;

    display: flex;
    flex-direction: column;

    margin-bottom: 29.46px;
}

/* .main_frame .left_one .left_photo img {
    width: 156px;
    height: 142px;
} */

.main_frame .left_one .left_name{
    position: relative;
    width: 64px;
    height: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 6px;

    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}
.main_frame .left_one .left_icons{
    /* position: relative; */
    width: 100%;
    height: 22px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 19px;
    margin-right: 15px;
}
/* .main_frame .left_one .left_icon a {
    display: inline-block;
}
 */

.link_href {
    text-decoration: none;
    color: black;
}

.main_frame .left_one .left_icons .icon {
    position: relative;
    width: 24.99px;
    height: 21.61px;
    
    fill: drop-shadow(0 4px rgba(0, 0, 0, 0.25));
   
}

.main_frame .left_one .left_icons .icon_1 {
    position: relative;
    /* width: 100%;
    height: 100%; */
    left: 29.17%;
    right: 27.08%;
    margin-top: 5.08px;
}

.main_frame .left_one .left_one_profession {
    position: relative;
    width: 147px;
    height: 24.31px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .marginer {
    position: relative;
    width: 220px;
    height: 0px;

    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 39px;

    border: 1.5px solid #f0f0f6;
}

.main_frame .left_two {
    position: relative;
    width: 221px;
    height: 126px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 44px;
}

.main_frame .left_two .left_two_aboutme{
    position: relative;
    width: 221px;
    height: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 9px;
}

.main_frame .left_two .left_two_aboutme .left_two_age{
    width: 46px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    
    background: rgb(255, 180, 0);
}

.main_frame .left_two .left_two_aboutme .left_two_agenumber {
    width: 19px;
    height: 24px;

    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    text-transform: capitalize;
}

.main_frame .left_two .left_two_aboutme .left_two_residence {
    width: 89px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;

    background: rgb(255, 180, 0);
}

.main_frame .left_two .left_two_aboutme .left_two_country {
    width: 21px;
    height: 24px;

    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    text-transform: capitalize;

    margin-right: 28px;
}

.main_frame .left_two .left_two_aboutme .left_two_freelance {
    width: 85px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;

    background: rgb(255, 180, 0);
}

.main_frame .left_two .left_two_aboutme .left_two_available {
    width: 65px;
    height: 24px;

    /* display: flex;
    align-items: center;
    justify-content: center; */

    color: rgb(126, 185, 66);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    text-transform: capitalize;
}


.main_frame .left_two .left_two_aboutme .left_two_address{
    width: 75px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;

    background: rgb(255, 180, 0);
}

.main_frame .left_two .left_two_aboutme .left_two_address_2 {
    width: 132px;
    height: 24px;

    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    text-transform: capitalize;
}

.main_frame .left_three {
    position: relative;
    width: 220px;
    height: 153px;

    display: flex;
    flex-direction: column;

    margin-left: 45px;
    margin-top: 25px;
}

.main_frame .left_three .left_three_languages{
    width: 95px;
    height: 23px;

    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    
    margin-bottom: 14px;
}

.main_frame .left_three  .left_three_languages_all{
    width: 220px;
    height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 5px;
}

.main_frame .left_three  .left_three_languages_all .left_three_languages_uz {
    width: 49px;
    height: 24px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .left_three  .left_three_languages_all .left_three_languages_procent_uz{
    width: 38px;
    height: 24px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .left_three .left_line_border {
    width: 220px;
    height: 4px;

    border: 0.5px solid rgb(255, 180, 0);
    border-radius: 30px;

    margin-bottom: 9px;
}

.main_frame .left_three  .left_three_line_border1 {
    width: 217px;
    height: 2px;
    
    border-radius: 30px;

    background: rgb(255, 180, 0);
}

.main_frame .left_three  .left_three_languages_all .left_three_languages_kr {
    width: 51px;
    height: 24px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .left_three  .left_three_languages_all .left_three_languages_procent_31 {
    width: 31px;
    height: 24px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .left_three .left_three_line_border2 {
    width: 208px;
    height: 2px;

    border-radius: 30px;

    background: rgb(255, 180, 0);
}

.main_frame .left_three  .left_three_languages_all .left_three_languages_eng {
    width: 57px;
    height: 24px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .left_three .left_three_line_border3{
    width: 190px;
    height: 2px;

    border-radius: 30px;

    background: rgb(255, 180, 0);
}


.main_frame .left_four{
    position: relative;
    width: 220px;
    height: 242px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 45px;
    margin-top: 25px;
}

.main_frame .left_four .left_four_skills{
    width: 45px;
    height: 22px;

    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;

    margin-right: 80%;
    margin-bottom: 14px;
}

.main_frame .left_four .left_four_skills_all{
    width: 220px;
    height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 5px;
}

.main_frame .left_four .left_four_skills_html {
    width: 34px;
    height: 24px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .left_four .left_four_skill_procent1 {
    width: 31px;
    height: 24px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .left_four .left_line_border1{
    width: 220px;
    height: 2px;

    border: 0.5px solid rgb(255, 180, 0);
    border-radius: 30px;

    margin-bottom: 9px;
}

.main_frame .left_four .left_four_line_border1 {
    width: 209px;
    height: 2px;

    border-radius: 30px;

    background: rgb(255, 180, 0);
}

.main_frame .left_four .left_four_skills_css{
    width: 31px;
    height: 24px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .left_four .left_four_line_border2{
    width: 207px;
    height: 2px;

    border-radius: 30px;

    background: rgb(255, 180, 0);
}


.main_frame .left_four .left_four_skills_js{
    width: 16px;
    height: 24px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .left_four .left_four_line_border3{
    width: 201px;
    height: 2px;

    border-radius: 30px;

    background: rgb(255, 180, 0);
}

.main_frame .left_four .left_four_skills_php{
    width: 31px;
    height: 24px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .left_four .left_four_line_border4{
    width: 187px;
    height: 2px;

    border-radius: 30px;

    background: rgb(255, 180, 0);
}

.main_frame .left_four .left_four_skills_wordpress{
    width: 78px;
    height: 24px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .left_four .left_four_line_border5{
    width: 207px;
    height: 2px;

    border-radius: 30px;

    background: rgb(255, 180, 0);
}


.main_frame .left_five {
    position: relative;
    width: 186px;
    height: 148px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 45px;
    margin-top: 25px;
}

.main_frame .left_five .left_five_skills {
    width: 94px;
    height: 22px;

    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;

    margin-right: 100px;
    margin-bottom: 15px;
}

.main_frame .left_five  .left_five_boot_main {
    width: 186px;
    height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main_frame .left_five  .left_five_boot_main img {
    width: 15px;
    height: 15px;
}

.main_frame .left_five .left_five_boot {
    width: 156px;
    height: 24px;

    display: flex ;
    align-items: center;
    justify-content: center;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;

    margin-left: 15px;
}

.main_frame .left_five .left_five_style{
    width: 127px;
    height: 24px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .left_five .left_five_gulp{
    width: 156px;
    height: 24px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .left_five .left_five_git{
    width: 109px;
    height: 24px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.main_frame .midd_frame {
    position: relative;
   
    display: flex;
    flex-direction: column;
}

.main_frame .midd_frame .midd_top {
    position: relative;
    width: 971px;
    height: 454px;

    display: flex;
    flex-direction: column;

    
    background: rgb(255, 255, 255);
}

.main_frame .midd_frame .midd_top .midd_top_type1 {
    width: 449px;
    height: 116px;

    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;

    margin: 99px 415px 238px 56px;
}

.main_frame .midd_frame .midd_top  .midd_top_type2{
    position: absolute;
    width: 424px;
    height: 85px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;

    margin: 233px 485px 135px 61px;
}

.main_frame .midd_frame .midd_top  .midd_top_button {
    position: absolute;
    width: 154px;
    height: 51px;

    margin: 341px 760px 61px 56px;

    border-radius: 5px;

    background: rgb(255, 180, 0);
    
}.midd_top_button img {
    width: 10px;
    height: 10px;
    margin-left: 10px;
}

.main_frame .midd_frame .midd_top .topp_profile_photo {
    position: absolute;
    width: 326px;
    height: 446px;

    margin: 8px 61px 5px 583px;

}

.main_frame .midd_frame .midd_top .topp_icon1 {
    position: absolute;
    width: 16px;
    height: 15px;

    margin: 37px 918px 400px 36px;
}

.main_frame .midd_frame .midd_top .topp_icon2 {
    position: absolute;
    width: 16px;
    height: 15px;

    margin: 419px 870px 19px 84px;
}

.main_frame .midd_frame .midd_top .topp_icon3 {
    position: absolute;
    width: 15px;
    height: 15px;

    margin: 330px 579px 102px 370px;

    box-sizing: border-box;
    border: 2px solid rgba(0, 71, 255, 0.8);

    background: rgb(255, 255, 255);
}

.main_frame .midd_frame .midd_top .topp_icon6 {
    position: absolute;
    width: 16px;
    height: 15px;

    margin: 59px 438px 379px 516px;

    box-sizing: border-box;
    border: 2px solid rgba(5, 255, 0, 0.8);

    
    background: rgb(255, 255, 255);
}

.main_frame .midd_frame .midd_top .topp_icon4 {
    position: absolute;
    width: 16px;
    height: 15px;

    margin: 378px 400px 60px 554px;

    box-sizing: border-box;
    border: 2px solid rgba(255, 180, 0, 0.8);
}

.main_frame .midd_frame .midd_top .topp_icon5 {
    position: absolute;
    width: 16px;
    height: 15px;

    margin: 424px 37px 23px 917px;

    box-sizing: border-box;
    border: 2px solid rgba(255, 46, 0, 0.8);

    background: rgb(255, 255, 255);
}

.main_frame .midd_frame .midd_top .topp_icon7 {
    position: absolute;
    width: 16px;
    height: 15px;

    margin: 76px 57px 365px 892px;

    box-sizing: border-box;
    border: 2px solid rgba(255, 180, 0, 0.8);
 
    background: rgb(255, 255, 255);
}

.main_frame .midd_bott {
    position: relative;
    width: 100%;
    height: 653px;

    margin-top: 156px;
}

.main_frame .midd_bott .midd_type1 {

    display: flex;
    justify-content: center;
    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.main_frame .midd_bott .midd_type2 {
    width: 438px;
    height: 68px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center; 
    text-transform: capitalize;

    margin: 20px auto;
    margin-bottom: 50px;
}

.main_frame .midd_bott  .midd_1_box{ 
    position: relative;
    width: 310px;
    height: 225px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgb(255, 255, 255);
}

.main_frame .midd_bott  .bott_icons_1{
    position: absolute;
    width: 65px;
    height: 53px;

    margin: 35px 122px 136px 122px;
    background: rgb(255, 180, 0);
}

.main_frame .midd_bott .bott_tupy_web{
    position: absolute;
    width: 153px;
    height: 22px;

    color: rgb(43, 43, 43);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 123.6%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;

    margin: 122px 76px 81px 76px;
}

.main_frame .midd_bott .bott_tupy_blog{
position: absolute;
    width: 134px;
    height: 24px;

    color: rgb(118, 118, 118);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;

    margin: 159px 88px 42px 88px;
}

.main_box_bott {
    position: relative;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_frame .midd_bott .midd_container_box {
    width: 1030px;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 20px;
}